body {
	font-family:arial, sans-serif;
	margin: 0;
	background: #f7f7f7;
	color: #222;
}

nav {
	background: #222;
	padding: 10px;
}

nav a:hover {
	text-decoration: underline;
}

.container {
	max-width: 800px;
	margin: 40px auto;
	background: white;
	padding: 20px;
	boarder-radius: 8px;
	box-shadow:0 0 10px rgba(0,0,0,0.05);
}